<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SpringYard - Admin Page</title>
</head>
<body>
    <table sec:authorize="isAuthenticated()">
        <tr>
            <td>You are currently logged in &nbsp;&nbsp;</td>
            <td><form th:action="@{/logout}" method="post">
                <button type="submit">Log Out</button>
            </form></td>
        </tr>
    </table>
    <h1>Admin Page</h1>
</body>
</html>